@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #061731;
  color: white;
}

.shadow {
  box-shadow: 0 0 15px #595c63;
}

.profile {
  filter: drop-shadow(0 0 30px rgba(130, 237, 255, 0.4));
}
.profile:hover {
  filter: drop-shadow(0 0 30px rgba(130, 237, 255, 0.97));
}

#span {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
}

#div::after {
  content: "ENGINEER";
  position: absolute;
  transition: all 0.5s;
  bottom: -100%;
  left: 0;
}

#div:hover {
  > span {
    top: -100%;
  }
}

#div:hover::after {
  bottom: 0;
}

.transition {
  transition: linear 0.3s;
}

#div:hover#crsr {
  /* display: none; */
  background-color: red;
}

.item::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.913),
    rgba(255, 255, 255, 0.632),
    rgba(255, 255, 255, 0.232)
  );
}

#btn:hover > svg {
  transform: translateX(10px);
  scale: 0.7;
}
