@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #23273c;
  color: white;
}

.shadow {
  box-shadow: 0 0 15px #595c63;
}

.profile {
  filter: drop-shadow(0 0 30px rgba(130, 237, 255, 0.4));
}
.profile:hover {
  filter: drop-shadow(0 0 30px rgba(130, 237, 255, 0.97));
}
.profile2 {
  box-shadow: 0 0 10px rgba(130, 237, 255, 0.4);
}
.profile2:hover {
  filter: drop-shadow(0 0 15px rgba(130, 237, 255, 0.97));
}

#span {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
}

#div::after {
  content: "ENGINEER";
  position: absolute;
  transition: all 0.5s;
  bottom: -100%;
  left: 0;
}

#div:hover {
  > span {
    top: -100%;
  }
}

#div:hover::after {
  bottom: 0;
}

.transition {
  transition: linear 0.3s;
}

#div:hover#crsr {
  /* display: none; */
  background-color: red;
}

.profile:hover#crsr {
  scale: 10;
}
